<!DOCTYPE html>
<html>
<head>
  <title>T R Y S T</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="https://checkout.stripe.com/checkout.js"></script>
</head>
<body>

  <%= image_tag "maleficentplay.jpg", class: "hidden" %>
  <%= image_tag "dragon.png", class: "hidden" %>
  <%= image_tag "trysttitle.jpg", class: "hidden" %>
  <%= image_tag "tryst1.jpg", class: "hidden" %>
  <%= image_tag "tryst2.jpg", class: "hidden" %>
  <%= image_tag "tryst3.png", class: "hidden" %>


  <div class="container">
    <div class="sixteen columns top">
      <h1>T R Y S T</h1>
    </div>
  </div>
  <div class="container">
      <div class="twelve columns alpha">
        <iframe src="//player.vimeo.com/video/88117684?title=0&amp;byline=0&amp;portrait=0&amp;" width="750" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="four columns pink alpha">
        <p>TECHNO - VIDEO - BYO</p>
        <p>EXPERIENCE QUEER IN A/V</p>
        <p>/-</p>
        <p>APRIL 5, 2014</p>
        <p>23:00 - LATE</p>
        <p>/-</p>
        <p>THANK YOU TO THE ARTISTS</p>
        <p>JVLYN - FRANKIE TEARDROP - JACKIE SPADE</p>
        <p>DANI DROPS - ZEINA - M4CRO</p>
        <p>AND THANK YOU ALL</p>
        <p>FOR MAKING IT SO SPECIAL</p>
        <p>/-</p>
        <p>SEE YOU NEXT TIME</p>
      </div>
  </div>

  <div class="container">
    <div class="sixteen columns bottom top">
      <p>QUESTIONS / COMMENTS / CONCERNS / NEED A COMP TICKET? CONTACT TRYSTMTL [AT] GMAIL</p>
    </div>
  </div>

</body>
</html>


